body {
    background-color: #ECECEC;
    color: #444444;
    padding: 0;
    margin: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto';
  }
  .left-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .left-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ECECEC;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
    right: 0;
  }
  div.navbar {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    background: #ee6e73;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999999;
  }
  div.navbar > ul.navbar-container {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
  }
  div.navbar > ul > li.nav-item {
    float: right;
    transition: all 0.5s ease;
  }
  div.navbar > ul > li.active {
    background-color: rgba(0, 0, 0, 0.18);
  }
  div.navbar > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  a.nav-button {
    font-family: 'Roboto';
    text-decoration: none;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(228, 241, 254, 1);
    transition: all 0.5s ease;
  }
    a.nav-button:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
    }
  li.active > a.nav-button {
    cursor: default;

  }
  .brand-logo {
    float: left;
    cursor: default;
  }
  
  footer {
    width: 100%;
    padding-top: 20px;
    display: block;
    background-color: #ee6e73;
  }
  .footer-copyright {
    font-weight: 300;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
  }
  .container {
    width: 85%;
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
  }
  footer p {
    border-left: 3px solid #ffcdd2;
    padding-left: 15px;
    text-indent: 20px;
    color: #ececec;
  }
  
  form { max-width:420px; margin:50px auto; padding-top: 40px; }
  
  .feedback-input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

.button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}